
<p *ngIf="!this.menuItem">Whoops, something went wrong! <a [routerLink]="[ '/' ]">Visit our menu!</a></p>

<p-card
  *ngIf="this.menuItem"
  header="{{ this.menuItem.name }} - {{ this.menuItem.price | currency:this.currency }}"
  subheader="{{ (this.menuItem.description) ? '(' + this.menuItem.description + ')' : '' }}"
  [style]="{width: '360px'}">
    <p-header>
      <a [routerLink]="[ '/' ]">
        <i class="pi pi-chevron-left"></i>
      </a>
    </p-header>

    <p-listbox *ngFor="let extra of extras; let i = index" [options]="extra.items" [(ngModel)]="selectedExtras[i]">
      <p-header>
        {{ extra.name + (extra.required ? ' (required)' : '') }}
      </p-header>
    </p-listbox>
</p-card>
